@import url(../../../styles/global.css);
@import url(../../../styles/utility-classes.css);

.footer_container {
  height: '325px';
  width: '100%';
  display: 'flex';
  flex-direction: 'row';
  align-items: 'center';
  justify-content: 'space-around';
  background-color: '#0651b3'
}
.footer_container .for_companies .for_candidates h3 {
  color: "#ffff";
}
.for_companies .for_candidates h3 {
  color: "#ffff"
}
.for_companies .for_candidates .for a {
  color: "#dddd"
}
.for_contributors {
  display: 'flex';
   flex-direction: 'column';
}
.for_contributors h1 {
  color: "#ffff"
}
.for_contributors small {
  color: "#dddd"
}
.for_contributors small a {
  color: "#dddd";
}
.want_to_contribute {
  margin-top: '24px';
  background-color: '#01CB96';
  width: '337px';
  height: '40px';
  border: 'none';
  border-radius: '8px';
  font-size: '16px';
  color: '#ffff';
  font-family: "Montserrat";
  font-weight: 600;
}
.for_contributors h4 {
  color: "#fff";
   margin-top: '8px';
    margin-bottom: '8px'
}
.row_footer{
  height: 675px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #0651b3;
}