@import url(../../styles/global.css);

.default-font {
  font-family: "Montserrat", sans-serif;
}

.bg-pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	margin: 0 .5rem;
	cursor: pointer;
}

.bg-pagination:hover{
	background-color: #368dff2d;
}
