@import url(../../styles/global.css);

.container-header-homepage {
  width: 80%;
  margin:64px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.left-container-head-home-page {
  width: 60%;
}
.left-container-span-text {
  color: var(--white-scale-300);
}
.container-description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: var(--white-scale-200)
}
