@import url('../../../styles/global.css');


.container-signin {
  background-color:var(--white-scale-200) ;
  border-radius: 32px;
  min-height: 320px;
  width: 25%;
  padding: 16px;
  margin-top: 64px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.login-text-description {
  font-size: 12px;
  color: var(--black-scale-100);
}
.login-title {
  color: var(--blue-scale-300);
}
.small-input-box {
  margin-top: 16px;
  width: 90%;
}
