@import '../../styles/global.css';
@import '../../styles/utility-classes.css';

button {
    border: 2px solid var(--black-scale-100);
    border-radius: 29px;
    display: flex;
    align-items: center;
    gap: 39px;
    height: 51px;
    width: 420px;
}

img{
    height: 32px;
    width: 32px;
}

span {
    color: var(--black-scale-300);
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
}