@import '../../styles/global.css';
@import '../../styles/utility-classes.css';

.input-container {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    align-items: center;
    max-width: 25em;
    width: 100%;
    margin-bottom: 2.25rem;
}

.google-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    max-width: 25em;
    width: 100%;
    margin-bottom: 2.5rem;
}

.google-container-text {
    color: var(--black-scale-300);
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    text-align: left;

}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 128px;
    max-width: 25em;
    width: 100%;
}

.form-container {
    background-color: var(--white-scale-100);
    border-radius: 55px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25em;
    width: 100%;
    height: 852px;
}