@import url('./styles/global.css');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(221.45deg, #0D68DF 23.45%, #042F67 94.19%);
    min-height: 100vh;
}
::-webkit-scrollbar {
    display: none;
  }